html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f1f1f1 !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.nav-link {
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10%;
}

.nav-link:hover {
  background-color: #f8f9fa;
}

.nav-link.active {
  background-color: #c6c6c7;
  color: rgb(27, 27, 27) !important;
}



.custom-radio-icon {
  display: none;
}

.custom-radio-icon:checked + .form-check-label i {
  color: #007bff; /* Blue color for the selected icon */
}

.form-check-label {
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  color: #495057;
}

.form-check-inline {
  margin-right: 30px;
}

.form-check-label i {
  transition: color 0.3s ease;
}
